<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
        <title>bauerquotes.com</title>
    </head>

    <body>
        <blockquote class="quote" data-js-handler="quote">
            <p>Jak ja bym cię poznał zanim poznałem żonę, to pewnie byśmy teraz razem w&nbsp;rynsztoku leżeli.</p>
        </blockquote>
        <figure class="author">
            <img src="../img/quote-face.svg" alt="">
        </figure>
        <button class="refresh-quote" data-js-handler="refresh-quote">Kliknij aby odświeżyć</button>
    </body>
</html>
